.img {
  max-width: 52px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  height: 210px;
  border: 1px solid #595959;
  text-align: center;
  flex-basis: 18%;
}

@media screen and (max-width: 968px) {
  .item {
    flex-basis: 23%;
  }
}

@media screen and (max-width: 768px) {
  .item {
    flex-basis: 30%;
  }
}

@media screen and (max-width: 568px) {
  .item {
    flex-basis: 48%;
  }
}

@media screen and (max-width: 448px) {
  .item {
    flex-basis: 80%;
  }
}
